<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <title>Cocktail Recipes</title>
    </head>
    <body>
        <h1>Here is your random Daily Cocktail</h1>
        <% if(locals.cocktail){ %>
            <h3><%= cocktail.strDrink %></h3>
            <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>" style="width: 200px;">
            <p><%= cocktail.strInstructions %></p>
            <h4>Glass:</h4>
            <p><%= cocktail.strGlass %></p>
            <h4>Ingredients:</h4>
            <% if(locals.ingretientsList){ %>
                <ul>
                    <% ingretientsList.forEach(ingredient => { %>
                        <li><%= ingredient %></li>
                    <% }) %>
                </ul>
            <% } %>
        <% } %>
        <form action="/search" method="GET">
            <input type="text" name="name" placeholder="Enter cocktail name" required>
            <button type="submit">Search</button>
        </form>
    </body>
</html>